
html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: -webkit-fill-available;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
  position:fixed;
  z-index: 99;
  transition: all .3s linear;
  /* overflow-y: scroll; */
}
.main.hide-menu{
  transform-origin:left center;
  width: 0%;
}
.menurow.expand{
  width: 100%;
  margin: 0 auto;
  transform-origin:right;

}
.main-content.expand{
  width: 100%;
  left:0;
}



.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


.sidebar  li{
  list-style: none;
  margin: 5px auto;
  padding: 0;
  width: 100%;
  cursor: pointer;
}
.sidebar li ul{
  position: static;
}
.sidebar .nav-pills .nav-link{    font-size: 15px;}
.sidebar .dropdown-custom a{
  color: #545454;
  font-size: 15px;
}
/* .sidebar li a {
  color: #545454 !important;
  font-size: 15px !important;
} */
.sidebar .dropdown-custom.active a, .sidebar .dropdown-custom.active a i {
  color: white;
  background: #0d6efd;

}
.sidebar li .dropdown-list{
  display: none;
}

.sidebar .dropdown-custom.active .dropdown-list{
  display: block;
  color: black;
}
.sidebar li a{ 
  display: flex;
  color: white;
  font-size: 17px;
  font-weight: 600;
}
.sidebar li a span i{
  color:black;
  padding-left: 40px;
  padding-right: 10px;
}

.nav-link.active{
  background-color: black !important;
  color: white !important;
}
.dropdown-list li a{
  background-color: #fff !important;
}
/* 
.sidebar-foot{
  position: fixed;
  bottom: 8px;
} */

/* .nav-link.History{
  color:white !important;
  font-size:bold !important;
  background-color: rgba(5, 5, 252, 0.829) !important;
} */

/* .dropdown-menu.show{display: none;} */

.sidebar-foot.dropdown:hover .dropdown-menu.show{display: block !important;}